.Vehicle-container {
    display: flex;
    justify-content: space-between;
}
.VehicleInfo-itemContainer {
    margin-bottom: 2rem;
}
.Vehicle-flexItemContainer {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Vehicle-RightPane {
    padding-top: 1rem;
}
.VehicleInfo-buttonText {
    font-size: 1.6rem;
}

@media only screen and (max-width: $desktop-breakpoint) {
    .Vehicle-container {
        flex-direction: column;
        justify-content: flex-start;
    }
}
  